<h1>Make your form here</h1>

<form method="/show" action="post">
  <label for="pirate">Pirate</label>
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">

  <label for="ship">Ship</label>
  Ship Name: <input type="text" name="pirate[ships][][name]">
  Ship Type: <input type="text" name="pirate[ships][][type]">
  Ship Booty: <input type="text" name="pirate[ships][][booty]">

  <label for="ship">Ship</label>
  Ship Name: <input type="text" name="pirate[ships][][name]">
  Ship Type: <input type="text" name="pirate[ships][][type]">
  Ship Booty: <input type="text" name="pirate[ships][][booty]">

  <input type="submit">
</form>
